# .env.example
DB_NAME=StationeryHub
DB_USER=postgres
DB_PASSWORD=your-password
DB_HOST=localhost
DB_PORT=5432

KHALTI_SECRET_KEY=live_secret_key_from_test_merchant_portal
KHALTI_BASE_URL=https://dev.khalti.com/api/v2
KHALTI_WEBSITE_URL=http://127.0.0.1:8000/
KHALTI_RETURN_URL=http://127.0.0.1:8000/payments/verify/